extends layouts/default.pug

block vars
  - var pageTitle = ''
  - var bodyClass = ''
  - var description = ''
  - var title = ''
  - var site = ''
  - var author = ''
  - var image = ''
  - var sitename = ''
  - var themeColor = ''

block content

  p Boilerplate Front End
